
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="text-black" style="background-color: white">
        <div class="card-body"></div>
        <img src="assets/logo alimentapp.png"/>
        <form (ngSubmit) = "recuperarContrasena()" class="center">
          <div class="form-group row center">
            <label for="nombreUsuario" class="col-form-label col-sm-2">Correo electronico</label>
            <div class="col-sm-6 my-2">
              <input type="text" class="form-control" [(ngModel)]="correoRecuperacion" name="correoRecuperacion" required="true">
            </div>
          </div>
          <div class="form-group row center">
            <div class="col-sm-12 center my-2">
              <button class="btn btn-primary " name="button">Enviar codigo</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>